In [29]:
import pandas as pd
df = pd.read_csv('../Pregunta3.csv')

In [30]:
df

   nro conoce_de_videojuegos juega_en_pc estudia mira_futbol compra_videojuego
0    1                    si          si      no          si                si
1    2                    si          no      no          si                si
2    3                    si          si      si          no                no
3    4                    si          no      no          si                si
4    5                    no          si      si          no                no
5    6                    no          no      si          si                no
6    7                    no          si      si          si                si
7    8                    si          no      si          no                no
8    9                    si          no      no          no                si

In [31]:
#Keys actuales, sin embargo el 'nro' no nos interesa para los algoritmos
df.keys()

Index(['nro', 'conoce_de_videojuegos', 'juega_en_pc', 'estudia', 'mira_futbol',
       'compra_videojuego'],
      dtype='object')

In [32]:
#Se elimina la columna 'nro'
df.drop(["nro"],axis=1, inplace = True)
df

  conoce_de_videojuegos juega_en_pc estudia mira_futbol compra_videojuego
0                    si          si      no          si                si
1                    si          no      no          si                si
2                    si          si      si          no                no
3                    si          no      no          si                si
4                    no          si      si          no                no
5                    no          no      si          si                no
6                    no          si      si          si                si
7                    si          no      si          no                no
8                    si          no      no          no                si

In [33]:
#Se convierten a numéricos todos los valores
df = pd.get_dummies(df, columns = ["conoce_de_videojuegos"], drop_first = True)
df = pd.get_dummies(df, columns = ["juega_en_pc"], drop_first = True)
df = pd.get_dummies(df, columns = ["estudia"], drop_first = True)
df = pd.get_dummies(df, columns = ["mira_futbol"], drop_first = True)
df = pd.get_dummies(df, columns = ["compra_videojuego"], drop_first = True)
df

,conoce_de_videojuegos_si,juega_en_pc_si,estudia_si,mira_futbol_si,compra_videojuego_si
0,1,1,0,1,1
1,1,0,0,1,1
2,1,1,1,0,0
3,1,0,0,1,1
4,0,1,1,0,0
5,0,0,1,1,0
6,0,1,1,1,1
7,1,0,1,0,0
8,1,0,0,0,1

In [34]:
#se preparan las variables X e y 
import numpy as np
X = np.array(df.drop(['compra_videojuego_si'],1))
y = np.array(df['compra_videojuego_si'])
X.shape

(9, 4)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [36]:
from sklearn.tree import DecisionTreeClassifier
algoritmo = DecisionTreeClassifier(criterion = 'entropy')

In [37]:
algoritmo.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
y_pred = algoritmo.predict(X_test)

In [39]:
# MATRIZ DE CONFUSIÓN
from sklearn.metrics import confusion_matrix
matriz = confusion_matrix(y_test, y_pred)
print('Matriz de Confusión:')
print(matriz)

Matriz de Confusión:
[[0 1]
 [0 1]]

In [40]:
# Precisión del modelo
from sklearn.metrics import precision_score
precision = precision_score(y_test, y_pred)
print('Precisión del modelo:')
print(precision)

Precisión del modelo:
0.5